:root {
   --btn-color: #22c55e;
   --btn-hover-color: #16a34a;
}

button:focus {
   outline: 0 !important;
}

@font-face {
   font-family: "PressStart2P";
   src: url("./assets/PressStart2P-Regular.ttf");
}

@font-face {
   font-family: "Electrolize";
   src: url("./assets/Electrolize-Regular.ttf");
}

dialog::backdrop {
   background-color: #000000C0;
   backdrop-filter: blur(2px);
}

/* extracted from https://www.w3schools.com/howto/howto_css_devices.asp */
/* The device with borders */
.smartphone {
   position: relative;
   width: 432px;
   height: 920px;
   border: 16px #703ACF solid;
   border-top-width: 60px;
   border-bottom-width: 60px;
   border-radius: 36px;
}

/* The horizontal line on the top of the device */
.smartphone:before {
   content: '';
   display: block;
   width: 60px;
   height: 5px;
   position: absolute;
   top: -30px;
   left: 50%;
   transform: translate(-50%, -50%);
   background: #2D1674;
   border-radius: 10px;
}

/* The circle on the bottom of the device */
.smartphone:after {
   content: '';
   display: block;
   width: 35px;
   height: 35px;
   position: absolute;
   left: 50%;
   bottom: -65px;
   transform: translate(-50%, -50%);
   background: #2D1674;
   border-radius: 50%;
}

/* used https://neumorphism.io */
/* next panel */
.neumorphism-right {
   box-shadow: -18px -18px 36px #65611b,
      18px 18px 36px #ffff6d;
}

/* hold panel */
.neumorphism-left {
   box-shadow: 18px 18px 36px #65611b,
      -18px -18px 36px #ffff6d;
}

.logo-icon {
   will-change: filter;
   animation: logo-spin infinite 20s linear;
}

/* extracted from  https://freefrontend.com/css-text-effects/ */
.logo-name {
   order: 0;
   transform: skew(0, -5deg);
   color: #fde9ff;
   font-weight: 900;
   text-shadow: 3px 1px 1px #4af7ff, 2px 2px 1px #165bfb, 4px 2px 1px #4af7ff, 3px 3px 1px #165bfb, 5px 3px 1px #4af7ff, 4px 4px 1px #165bfb, 6px 4px 1px #4af7ff, 5px 5px 1px #165bfb, 7px 5px 1px #4af7ff, 6px 6px 1px #165bfb, 8px 6px 1px #4af7ff, 7px 7px 1px #165bfb, 9px 7px 1px #4af7ff;
}

.logo-name span {
   display: block;
   position: relative;
}

.logo-name span:before {
   content: attr(data-text);
   position: absolute;
   text-shadow: 2px 2px 1px #e94aa1, -1px -1px 1px #c736f9, -2px 2px 1px #e94aa1, 1px -1px 1px #f736f9;
   z-index: 1;
}

@keyframes logo-spin {
   from {
      transform: rotate(0deg);
   }

   to {
      transform: rotate(360deg);
   }
}

/* extracted from https://css-tricks.com/how-to-create-neon-text-with-css/ */
.neonText {
   color: #fff;
   text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
}

.neonBorder {
   border: 0.2rem solid #fff;
   border-radius: 2rem;
   padding: 0.4em;
   box-shadow: 0 0 .2rem #fff,
      0 0 .2rem #fff,
      0 0 2rem #bc13fe,
      0 0 0.8rem #bc13fe,
      0 0 2.8rem #bc13fe,
      inset 0 0 1.3rem #bc13fe;
}

/* level changed effect */
/* from animista */
.shake-horizontal {
   -webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
   animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-12-21 0:48:2
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes shake-horizontal {

   0%,
   100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
   }

   10%,
   30%,
   50%,
   70% {
      -webkit-transform: translateX(-10px);
      transform: translateX(-10px);
   }

   20%,
   40%,
   60% {
      -webkit-transform: translateX(10px);
      transform: translateX(10px);
   }

   80% {
      -webkit-transform: translateX(8px);
      transform: translateX(8px);
   }

   90% {
      -webkit-transform: translateX(-8px);
      transform: translateX(-8px);
   }
}

@keyframes shake-horizontal {

   0%,
   100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
   }

   10%,
   30%,
   50%,
   70% {
      -webkit-transform: translateX(-10px);
      transform: translateX(-10px);
   }

   20%,
   40%,
   60% {
      -webkit-transform: translateX(10px);
      transform: translateX(10px);
   }

   80% {
      -webkit-transform: translateX(8px);
      transform: translateX(8px);
   }

   90% {
      -webkit-transform: translateX(-8px);
      transform: translateX(-8px);
   }
}

/*# sourceMappingURL=style.css.map */